<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>

<body class="columns">
    <article class="column">
        <h1 class="title is-1 has-text-centered">Statuten CenEka</h1>
        <div class="content">
            <h1 class="title is-2 has-text-centered">Hoofdstuk I. Benaming, zetel, doel, duur</h1>
            <p><b>Art 1.</b> &nbsp;De vereniging zonder winstoogmerk, verder de vereniging genoemd, draagt de naam &ldquo;CenEka&rdquo;.</p>
            <p></p>
            <p><b>Art 2.</b> De hoofdzetel van de vereniging is gelegen te Hoveniersberg 24, 9000 Gent en is gelegen in het
                gerechtelijke arrondissement Oost-Vlaanderen. De zetel kan enkel verplaatst worden door de raad van bestuur
                mits deze de regels in acht neemt zoals vereist voor een statutenwijziging en beschreven in deze statuten.</p>
            <p></p>
            <div>
                <p><b>Art 3.</b> De vereniging stelt zichzelf de volgende doelen:</p>
                <ul>
                    <li>De vereniging introduceert het bedrijfsleven bij de studenten met een computerwetenschappelijke of elektrotechnische
                        achtergrond en helpt hen om contacten te leggen met deze bedrijven.</li>
                    <li>De vereniging laat studenten en andere ge&iuml;nteresseerden kennis maken met toepassingen van computerwetenschappelijke
                        of elektrotechnische aard.</li>
                    <li>De vereniging helpt studenten met een computerwetenschappelijke of elektrotechnische achtergrond om contacten
                        te leggen met elkaar in een ontspannende omgeving.</li>
                </ul>
                <p></p>
                <p>De vereniging kan alle activiteiten ontplooien die rechtstreeks of onrechtstreeks bijdragen tot de voorvermelde
                    niet-commerci&euml;le doelstellingen, met inbegrip van winstgevende activiteiten die binnen de grenzen
                    van wat wettelijk toegestaan is, vallen en waarvan de opbrengsten volledig bestemd zijn voor de verwezenlijking
                    van de voorvermelde doelstellingen.</p>
                <p></p>
                <p>Daarnaast kan de vereniging alle roerende en onroerende goederen die zij voor het verwezenlijken van haar
                    doelen nodig heeft, bezitten of verkrijgen en er alle eigendomsrechten en andere zakelijke rechten op
                    uitoefenen. Zij kan daartoe alle rechtshandelingen en daden stellen, en onder meer overeenkomsten sluiten,
                    contracten tekenen, verzekeringspolissen afsluiten, goederen in huur nemen, dit alles in zowel het binnenland
                    als het buitenland.</p>
                <p></p>
                <p>Verder kan de vereniging subsidies en sponsoring verwerven van zowel overheidsinstellingen als private instellingen.
                    Deze bijdragen zijn rechtstreeks of onrechtstreeks bestemd voor de verwezenlijking van de voorvermelde
                    niet-commerci&euml;le doelstellingen.</p>
                <p></p>
            </div>

            <p><b>Art 4.</b> De vereniging wordt opgericht voor onbepaalde duur.</p>
            <h1 class="title is-2 has-text-centered">Hoofdstuk II. Leden</h1>
            <p><b>Art 5.</b> Het aantal leden is onbeperkt, maar moet tenminste drie bedragen. De vereniging aanvaardt enkel
                natuurlijke personen als lid en bestaat uit toegetreden leden en werkende leden.</p>
            <p></p>
            <p>
                <b>Art 6.</b> Om toegetreden lid van de vereniging te worden, moet er aan de volgende voorwaarden voldaan
                zijn: er moet jaarlijks lidgeld betaald worden en het moet gaan om een natuurlijk persoon. Indien een toegetreden
                lid het lidgeld niet meer betaalt of de wet of de statuten overtreedt, wordt het toegetreden lid van rechtswege
                als ontslagnemend beschouwd. Toegetreden leden hebben geen stemrecht in de Algemene Vergadering. Wie toegetreden
                lid wil worden, stelt zich mondeling of schriftelijk kandidaat bij de voorzitter van de vereniging of een
                ander bestuurslid en wordt aanvaard als toegetreden lid op het moment dat de voorwaarden die vermeld worden
                in de statuten, voldaan zijn en het lidgeld betaald wordt aan de vereniging.
            </p>
            <p></p>
            <div>
                <p><b>Art 7.</b> Beslissingen omtrent de toetreding van werkende leden behoren tot de bevoegdheid van de raad
                    van bestuur. Een werkend lid wordt omschreven als een natuurlijk persoon dat zich engageert op minstens&nbsp;&eacute;&eacute;n
                    activiteit in &eacute;&eacute;n jaar, waarbij het binnenhuisreglement de voorwaarden van dit engagement
                    concretiseert. Indien een werkend lid niet meer voldoet aan de lidmaatschapsvoorwaarden, wordt het werkend
                    lid van rechtswege als ontslagnemend beschouwd. Werkende leden hebben alle bevoegdheden die de statuten,
                    de wet van 27 juni 1921 en de wet van 2 mei 2002 hen toekennen, zij hebben wel&nbsp;stemrecht tijdens
                    de algemene vergadering. Wie werkend lid wil worden, stelt zich mondeling of schriftelijk kandidaat bij
                    de voorzitter van de vereniging of een ander bestuurslid.
                </p>
                <p></p>
                <p>De stichters zijn de eerste werkende leden van de vereniging, met name:</p>
                <ul>
                    <li>Achim Vandierendonck</li>
                    <li>&hellip; naam</li>
                    <li>&hellip; naam</li>
                </ul>
            </div>
            <div>
                <p><b>Art 8.</b> Het bedrag van de jaarlijkse bijdragen van de toegetreden en de werkende leden wordt bepaald
                    door de raad van bestuur. Het maximum van deze bijdrage is vastgelegd op 10 euro.</p>
                <p></p>
                <p> Elk lid kan te allen tijde, mits deze persoon er minstens &eacute;&eacute;n maand vooraf kennis van geeft,
                    uit de vereniging treden, doch niet alvorens de persoon in kwestie de bijdragen die hij verschuldigd
                    is aan de vereniging, heeft betaald. Het ontslag dient schriftelijk aan de raad van bestuur ter kennis
                    worden gebracht, waarbij dit schriftelijk verzoek enkel per e-mail of per brief kan gebeuren. </p>
                <p></p>
            </div>

            <p><b>Art 10.</b> Tot uitsluiting van een lid kan enkel door de algemene vergadering besloten worden, met tweederde
                meerderheid van de aanwezige en vertegenwoordigde stemmen. De vereniging behoudt het recht alle bijdragen
                die het uitgesloten lid verschuldigd is aan de vereniging, terug te vorderen.</p>
            <p></p>
            <p><b>Art 11.</b> Het lidmaatschap eindigt van rechtswege wanneer het lid overlijdt of onbekwaam wordt verklaard.
            </p>
            <p></p>
            <h1 class="title is-2 has-text-centered">Hoofdstuk III. Algemene vergadering</h1>
            <div>
                <p><b>Art 12.</b> De algemene vergadering bestaat uit alle werkende leden, en heeft de bevoegdheden opgesomd
                    in artikel 4 van de wet van 27 juni 1921 en artikel 12 van de wet van 2 mei 2002: </p>
                <ol start="1">
                    <li>de wijziging van de statuten;</li>
                    <li>de benoeming en afzetting van de bestuurders;</li>
                    <li>de benoeming en afzetting van de commissarissen en het bepalen van hun bezoldiging ingeval een bezoldiging
                        wordt toegekend;</li>
                    <li>de kwijting aan de bestuurders en de commissarissen;</li>
                    <li>de goedkeuring van de begroting en van de rekening;</li>
                    <li>de ontbinding van de vereniging;</li>
                    <li>de uitsluiting van een werkend of toegetreden lid;</li>
                    <li>de omzetting van de vereniging in een vennootschap met een sociaal oogmerk;</li>
                    <li>alle gevallen waarin de statuten dat vereisen</li>
                </ol>
                <p></p>
            </div>
            <p><b>Art 13.</b> Ieder werkend lid kan schriftelijk volmacht geven aan een ander werkend lid, die het daarbij behorend
                stemrecht mag uitvoeren.
            </p>
            <p></p>
            <p>
                <b>Art 14.</b> De algemene vergadering komt ten minste eenmaal per jaar samen op uitnodiging van de voorzitter
                of een plaatsvervanger. &nbsp; Behoudens hetgeen hierna wordt bepaald, zijn de wijze van oproeping en werking
                van de algemene vergadering geregeld volgens de desbetreffende artikelen van de wet van 27 juni 1921 en de
                wet van 2 mei 2002.
            </p>
            <p>

            </p>
            <p>
                <b>Art 15.</b> Een buitengewone algemene vergadering kan steeds samengeroepen, hetzij door de raad van bestuur,
                hetzij op aanvraag van &eacute;&eacute;n vijfde van de werkende leden. In het laatste geval dient de raad
                van bestuur de algemene vergadering binnen de 21 dagen na het verzoek bijeen te roepen.
            </p>
            <p></p>
            <p>
                <b>Art 16.</b> Alle leden dienen ten minste acht dagen voor de algemene vergadering schriftelijk te worden
                opgeroepen. Deze schriftelijke oproep dient per mail, per brief of via sociale media te gebeuren en dient
                de datum, de plaats en de agenda van de algemene vergadering te bevatten.
            </p>
            <p></p>
            <div>
                <p>
                    <b>Art 17.</b> De vergadering wordt voorgezeten door de voorzitter van de vereniging of een plaatsvervanger.
                    De voorzitter dient een secretaris aan te duiden als de secretaris van de raad van bestuur afwezig is.
                </p>
                <p></p>
                <p>
                    Elk voorstel dat ondertekend wordt door minstens &eacute;&eacute;n twintigste van de werkende leden, dient opgenomen te worden
                    in de agenda.
                </p>
                <p></p>
                <p>
                    Onderwerpen die niet op de agenda staan, kunnen in behandeling genomen worden als minstens &eacute;&eacute;n twintigste van
                    de werkende leden het onderwerp wenst te behandelen tijdens de algemene vergadering.
                </p>
                <p></p>
                <p>
                    Wijzigingen in de statuten, de uitsluiting van een lid, het ontslag van een bestuurslid of de ontbinding van de vereniging
                    dienen altijd expliciet in de agenda opgenomen te worden.
                </p>
                <p></p>

            </div>
            <p>
                <b>Art 18</b>. De algemene vergadering is geldig samengesteld indien ten minste de helft van de werkende
                leden aanwezig of vertegenwoordigd is. Beslissingen worden genomen bij een gewone meerderheid van de aanwezige
                of vertegenwoordigde stemmen, behalve in de gevallen waarin de wet of de statuten anders bepalen.
            </p>
            <p></p>
            <p>
                <b>Art 19.</b> De notulen van de algemene vergadering worden in een register bijgehouden die op de zetel
                van de vereniging geraadpleegd kan worden door de werkende leden. De notulen worden ondertekend door de voorzitter,
                de secretaris en de werkende leden die het wensen. De beslissingen van de algemene vergadering worden mondeling
                of schriftelijk ter kennis gebracht aan de leden en de belanghebbende niet-leden. Daarnaast moeten de beslissingen
                opgenomen worden in een verslag dat ter inzage ligt op de zetel van de vereniging.
            </p>
            <h1 class="title is-2 has-text-centered">
                Hoofdstuk IV. Raad van bestuur
            </h1>
            <p>
                <b>Art 20.</b> De raad van bestuur is samengesteld uit ten minste drie leden.&nbsp;De raad van bestuur moet
                minstens &eacute;&eacute;n lid minder tellen dan het aantal werkende leden van de vereniging . De leden worden
                voor &eacute;&eacute;n jaar benoemd volgens het proces beschreven in artikel 21 van de statuten. De opdracht
                van de bestuurders eindigt van rechtswege door het verstrijken van hun mandaat. Het mandaat van een bestuurder
                is onbezoldigd.
            </p>
            <p></p>
            <p>
                <b>Art 21.</b> Wie bestuurslid wil worden, dient een meerderjarig, natuurlijk persoon te zijn en stelt zich
                voor tijdens de algemene vergadering die over de benoeming van de bestuursleden beslist, schriftelijk kandidaat
                bij de voorzitter van de vereniging of een ander bestuurslid voor &eacute;&eacute;n of meerdere functies
                binnen de raad van bestuur. De kandidaten worden vervolgens door de algemene vergadering aanvaard als een
                offici&euml;le kandidaat voor een bepaalde functie bij een eenvoudige meerderheid van de aanwezige of vertegenwoordigde
                stemmen. Ten slotte bepaalt de algemene vergadering op welke manier de offici&euml;le kandidaten benoemd
                worden tot leden van de raad van bestuur bij een eenvoudige meerderheid van de aanwezige en vertegenwoordigde
                stemmen.
            </p>
            <p></p>
            <p>
                <b>Art 22.</b> De functies en de bevoegdheden van die functies binnen de raad van bestuur worden bepaald
                door de raad van bestuur. De voorzitter, ondervoorzitter en secretaris van de raad van bestuur zijn automatisch
                voorzitter, ondervoorzitter en secretaris van de algemene vergaderingen.
            </p>
            <p></p>
            <p>
                <b>Art 23.</b> Elk bestuurslid kan te allen tijde, mits deze persoon er minstens &eacute;&eacute;n maand
                vooraf kennis van geeft, vrijwillig uit de raad van bestuur treden. Daarnaast kan een bestuurslid te allen
                tijde door de algemene vergadering ontslagen worden door een meerderheid van twee derde van de aanwezige
                of vertegenwoordigde stemmen. Bij overlijden, ontslag of afzetting van een bestuurder wordt een vervanger
                aangeduid door de algemene vergadering om het mandaat over te nemen. Deze vervanger blijft bestuurder tot
                het mandaat verlopen is.
            </p>
            <p></p>
            <p>
                <b>Art 24.</b> &nbsp;De raad van bestuur moet voor het verlopen van het mandaat het initiatief nemen om de
                algemene vergadering bijeen te roepen om nieuwe bestuurders te benoemen. Indien zij in gebreke blijven, zijn
                zij ertoe gehouden hun opdracht verder te vervullen tot in hun vervanging is voorzien, onverminderd hun aansprakelijkheid
                voor de schade die door hun verzuim mocht zijn veroorzaakt.
            </p>
            <p></p>
            <p>
                <b>Art 25.</b> De raad van bestuur is bevoegd voor alle aangelegenheden met uitzondering van deze die door
                de wet of door de statuten aan de algemene vergadering zijn toegewezen.
            </p>
            <p></p>
            <p>
                <b>Art 26.</b> De raad van bestuur kan het dagelijkse bestuur van de vereniging overdragen aan &eacute;&eacute;n
                of meerdere van zijn bestuursleden of werkende leden en diens bevoegdheden bepalen. Deze personen hebben
                voor de uitgevoerde taken geen recht op &nbsp;een compensatie van enige aard, tenzij de raad van bestuur
                in een schriftelijke overeenkomst een compensatie vermeldt.
            </p>
            <p></p>
            <p>
                <b>Art 27.</b> De raad van bestuur vaardigt alle huishoudelijke reglementen uit die hij nodig acht, nuttig
                oordeelt en niet in strijd zijn met de statuten.
            </p>
            <p></p>
            <p>
                <b>Art 28.</b> De raad van bestuur komt telkens bijeen wanneer het belang van de vereniging dit vereist,
                op uitnodiging van de voorzitter of zijn plaatsvervanger, en met een minimum van viermaal per jaar. De uitnodigingen
                worden ten minste drie dagen voor de raad van bestuur per brief, per mail of via sociale media verstuurd
                en vermelden de datum en de plaats van de raad van bestuur.
            </p>
            <p></p>
            <p>
                <b>Art 29.</b> De raad van bestuur kan slechts beslissingen nemen wanneer een gewone meerderheid aanwezig
                is. De beslissingen worden genomen door een eenvoudige meerderheid van de aanwezige of door volmacht vertegenwoordigde
                leden. Elk bestuurslid kan zich bij schriftelijke volmacht laten vertegenwoordigen door een ander bestuurslid.
                Bij gelijkheid van stemmen is de stem van de voorzitter doorslaggevend.
            </p>
            <p></p>
            <p>
                <b>Art 30.</b> De voorzitter van de raad van bestuur heeft het recht om tijdens een vergadering van de raad
                van bestuur om een herroeping van een beslissing die eerder tijdens deze vergadering werd gemaakt, te verzoeken.
                Indien dit verzoek door minstens &eacute;&eacute;n vijfde van de aanwezige bestuursleden, exclusief de voorzitter
                zelf, wordt gesteund, wordt deze beslissing herroepen, tenzij de herroeping in strijd is met de wet of met
                de statuten.
            </p>
            <p></p>
            <p>
                <b>Art 31.</b> De penningmeester van de raad van bestuur heeft het recht om tijdens een vergadering van de
                raad van bestuur om een herroeping van een beslissing die een economisch aspect bevat en eerder tijdens deze
                vergadering werd gemaakt, te verzoeken. Indien dit verzoek door minstens &eacute;&eacute;n vijfde van de
                aanwezige bestuursleden, exclusief de penningmeester zelf, wordt gesteund, wordt deze beslissing herroepen,
                tenzij de herroeping in strijd is met de wet of met de statuten.
            </p>
            <p></p>
            <p>
                <b>Art 32.</b> De besluiten van de raad van bestuur worden neergeschreven in de notulen die in een daartoe
                bestemd register worden bijgehouden. De notulen dienen ondertekend te worden door de voorzitter en de secretaris
                van de desbetreffende vergadering. Werkende leden kunnen de notulen opvragen en dienen na maximaal drie dagen
                een kopie van de notulen ontvangen te hebben.
            </p>
            <p></p>
            <p>
                <b>Art 33.</b> De aansprakelijkheid van de bestuurders wordt geregeld overeenkomstig artikel 14 van de wet
                van 27 juni 1921 en artikelen 23 en 24 van de wet van 2 mei 2002.
            </p>
            <p></p>
            <h1 class="title is-2 has-text-centered">
                Hoofdstuk V. Begroting en rekeningen
            </h1>
            <p>
                <b>Art 34.</b> Het boekjaar van de vereniging loopt van 1 oktober tot en met 30 september. Bij het einde
                van elk boekjaar stelt de raad van bestuur de rekeningen en de begroting op van respectievelijk het afgelopen
                en komend boekjaar. Deze worden onderworpen aan de goedkeuring van de gewone algemene vergadering, die ontlasting
                verleent aan de bestuurders.

            </p>
            <p></p>
            <p>
                <b>Art 35.</b> Het batig saldo vergroot het vermogen van de vereniging en kan niet als dividend of anderszins
                aan de leden worden uitgekeerd.
            </p>
            <p></p>
            <h1 class="title is-2 has-text-centered">
                Hoofdstuk VI. Ontbinding, vereffening
            </h1>
            <p>
                <b>Art 36.</b> Bij de ontbinding van de vereniging wijst de algemene vergadering &eacute;&eacute;n of meerdere
                vereffenaars aan en bepaalt hun bevoegdheden. De activa worden na aanzuivering van de schulden overgedragen
                aan de vereniging, stichting of inrichting die een gelijkaardig doel als deze vereniging nastreeft. Zijn
                er verscheidene zodanige verenigingen, dan maakt de algemene vergadering een keuze of verdeelt zij de activa
                naar goedvinden. Zijn er geen zodanige verenigingen, dan worden de goederen overgedragen aan de vereniging,
                stichting of inrichting, waarvan het doel de hierboven beschreven doelstellingen het meest nabij komt. &nbsp;
            </p>
            <p></p>
            <h1 class="title is-2 has-text-centered">
                Hoofdstuk VII. Diversen
            </h1>
            <div>
                <p>
                    <b>Art 37.</b> Voor al wat niet voorzien is in deze statuten wordt verwezen naar de wet van 27 juni 1921
                    en de wet van 2 mei 2002.
                </p>
                <p></p>
                <p>
                    Opgemaakt te Waarschootstraat 1, 9000 Gent op 25/09/2017. in 2 originele exemplaren en goedgekeurd op de Algemene Vergadering
                    van 25/09/2017.
                </p>
                <p>E&eacute;n exemplaar zal bewaard worden op de maatschappelijke zetel van de vereniging en de andere wordt
                    neergelegd op de Griffie van de Rechtbank van Koophandel.
                </p>
            </div>

        </div>

    </article>

</body>

</html>